#loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white);
}

.loginForm{
    position: relative;
    width: 850px;
    height: 550px;
    background: var(--white);
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,0,0.2);
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: seagreen;
    display: flex;
    align-items: center;
    color: var(--black);
    padding: 40px;
}

form{
    width: 100%;
}

.login-heading{
    font-size: 36px;
    margin: -10px 0;
}

.input-box{
    position: relative;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    padding: 12px 50px 12px 20px;
    background: var(--white);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
}

.input-box::placeholder{
    color: var(--black);
    font-weight: 400;
}

.user-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--black);
}


.forgot-link{
    margin: -15px 0 15px;
}

.forgot-link>a{
    font-size: 14px;
    color: var(--black);
    text-decoration: none;
}

.loginForm-btn{
width: 100%;
height: 48px;
background-color: #7494ec;
border-radius: 0 0 10px rgba(0,0,0,.1);
border: none;
cursor: pointer;
color: var(--white);
font-weight: 600;
}

.loginForm>p{
    font-size: 14px;
    margin: 15px 0;
}

.login-social-icon{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color : #333;
    text-decoration: none;
    margin: 0 8px;
}